@import "reset.css";
/* Шрифты */
@font-face {
  font-family: 'ChiftText-Regular';
  src: url('../font/ChiftText_gdi.eot');
  src: url('../font/ChiftText_gdi.eot?#iefix') format('embedded-opentype'), url('../font/ChiftText_gdi.woff') format('woff'), url('../font/ChiftText_gdi.ttf') format('truetype'), url('../font/ChiftText_gdi.otf') format('opentype'), url('../font/ChiftText_gdi.svg#ChiftText-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB06;
}
@font-face {
  font-family: 'ChiftText-Bold';
  src: url('../font/ChiftText-Bold.eot');
  src: url('../font/ChiftText-Bold.eot?#iefix') format('embedded-opentype'), url('../font/ChiftText-Bold.woff') format('woff'), url('../font/ChiftText-Bold.ttf') format('truetype'), url('../font/ChiftText-Bold.otf') format('opentype'), url('../font/ChiftText-Bold.svg#ChiftText-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB06;
}
@font-face {
  font-family: 'ChiftText-DemiBold';
  src: url('../font/ChiftText-DemiBold_gdi.eot');
  src: url('../font/ChiftText-DemiBold_gdi.eot?#iefix') format('embedded-opentype'), url('../font/ChiftText-DemiBold_gdi.woff') format('woff'), url('../font/ChiftText-DemiBold_gdi.ttf') format('truetype'), url('../font/ChiftText-DemiBold_gdi.otf') format('opentype'), url('../font/ChiftText-DemiBold_gdi.svg#ChiftText-DemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB06;
}
.font_regular {
  font-family: 'ChiftText-Regular';
}
.font_demi-bold {
  font-family: 'ChiftText-DemiBold';
}
.font_bold {
  font-family: 'ChiftText-Bold';
}
body {
  font-family: 'ChiftText-DemiBold';
}
html,
body {
  font-size: 16px;
}
.width {
  max-width: 970px;
  min-width: 970px;
  width: 100%;
  margin: 0 auto;
}
.scrollToTop {
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
  cursor: pointer;
}
html,
body,
.b-scroll-1 {
  height: 100%;
}
.b-scroll-1 {
  min-height: 900px;
}
.b-scroll-1--box0 {
  background: url(../img/bg.jpg) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.b-scroll-1--box1 {
  background: url(../img/bg-dop1.jpg) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.b-scroll-1--box2 {
  background: url(../img/bg-dop2.jpg) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
/* Header */
.header--fixed {
  position: fixed;
  width: 100%;
  background: #fff;
  top: -140px;
  transition-duration: .5s;
  transition-property: top;
  margin-top: -18px;
  z-index: 2;
}
.b-head-row__column {
  display: inline-block;
}
.b-head-row__column--tel {
  width: 17.319587%;
  min-width: 144px;
}
.b-head-row__column--company {
  width: 22%;
}
.b-head-row__column--logo {
  width: 59%;
}
.b-head-tel {
  width: 245px;
  margin: 0 auto;
}
.b-h-tel-row__left {
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
}
.b-h-tel-row__separate {
  display: inline-block;
  width: 1px;
  background: #000;
  height: 48px;
  vertical-align: middle;
  margin: 3px 5px;
}
.b-h-tel-row__rigth {
  display: inline-block;
  vertical-align: top;
}
.b-h-tel__descript > p {
  font-size: .84em;
  margin-left: 4px;
}
.b-head-tel-number > p {
  font-size: 1.35em;
  padding: 0 0 0 5px;
}
.b-h-tel-rw-link {
  display: block;
  background: url(../img/header-tel-button.png) 50% 50% no-repeat;
  color: #000;
  text-decoration: none;
  text-align: center;
  padding: 3px 0;
}
.b-h-tel-rw-link--right-but {
  background: url(../img/header-com-home-button.png) 50% 50% no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  margin-top: 25px;
}
/*
.b-head-tel{
  width: 144px;
  height: 70px;
  margin: 0 auto;
  background: url(../img/tel-company.png) 50% 50% no-repeat;
}
.b-head-tel__row{
  margin-left: 45px;
}
.b-head-tel-city-code > p{
  .font_bold;
  font-size: 0.9em;
  padding-top: 9px;

}
.b-head-tel-number{
  margin-top: -2px;
}
.b-head-tel-number > p{
  .font_bold;
  font-size: 1.3em;
}

*/
.b-header-column__logo > img {
  display: block;
  margin: 0 auto;
}
.b-header-column__building-company {
  margin: 0 auto;
  text-align: center;
}
.b-building-company-box > p {
  text-transform: uppercase;
  font-family: 'ChiftText-Regular';
  font-size: .9em;
}
.b-building-company-box > p > span {
  font-size: 1.23em;
  margin-top: 2px;
  display: block;
}
/*
.b-building-company-site{
  margin-top: 15px;
} */
.b-building-company-site > a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.b-header-row__navigation {
  margin-top: 18px;
  border-top: 2px solid #000000;
  border-bottom: 3px solid #000000;
}
.b-head-nav {
  border-bottom: 1px solid #000000;
  margin-bottom: 1px;
  text-align: center;
}
.b-head-nav__item {
  display: inline-block;
  margin: 0 3%;
  text-align: center;
}
.b-head-nav__item:nth-child(2) {
  margin-left: 0;
}
.b-head-nav__item:nth-last-child(1) {
  margin-right: 0;
}
.b-head-nav-item {
  display: block;
  margin: 4px auto;
  color: #000 ;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  white-space: nowrap;
  font-family: 'ChiftText-Regular';
  padding: 6px 3%;
}
.b-head-nav-item:hover {
  border: 1px solid #000000;
}
.b-head-nav-item--check {
  border: 1px solid #000000;
}
/* /Header */
/* Скролл 0 */
.b-scroll-1-box {
  width: 100%;
  max-width: 455px;
}
.b-sc1-box__text {
  display: none;
  opacity: 0;
}
.b-sc1-box__text--show {
  display: block;
  opacity: 1;
}
.b-sc1-b-text-item__caption > h2 {
  font-family: 'ChiftText-Bold';
  text-transform: uppercase;
  font-size: 3.8em;
  line-height: 1.1;
  margin-bottom: 9%;
}
.b-sc1-b-text-item__caption > h2 > span {
  font-size: 100px;
  font-family: 'ChiftText-DemiBold';
}
.b-sc1-b-text-item__main-text > p {
  columns: 200px 2;
  -webkit-columns: 200px 2;
  -moz-columns: 200px 2;
  font-size: .875em;
  line-height: 1.22;
  font-family: 'ChiftText-DemiBold';
}
.b-sc1-b-text-item__main-text > p > img {
  margin-bottom: 5px;
}
.b-sc1-b-text-item__line {
  height: 1px;
  background: #000;
  margin: 20px 0;
}
.b-sc1-box-nav {
  text-align: center;
  margin: 65px 0 0 0;
}
.b-sc1-box-nav__li {
  background: url(../img/li.png) 50% 50% no-repeat;
  width: 36px;
  height: 36px;
  display: inline-block;
  cursor: pointer;
  margin: 0 40px;
}
.b-sc1-box-nav__li:hover {
  background: url(../img/li-check.png) 50% 50% no-repeat;
}
.b-sc1-box-nav__li--active {
  background: url(../img/li-check.png) 50% 50% no-repeat;
}
/* /Скролл 0 */
/* Скролл 1 */
.b-wrapper__section--book-type {
  background: #f4f4f3;
}
.b-section-book {
  background: url(../img/book-center-bg.png) 50% 0 repeat-y;
  position: relative;
}
.b-section-book:before {
  content: "";
  height: 19px;
  width: 100%;
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  background: url(../img/book-top-bg.png) 50% 0 no-repeat;
}
.b-section-book:after {
  content: "";
  width: 100%;
  height: 28px;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  background: url(../img/book-bottom-bg.png) 50% 0 no-repeat;
}
.b-section-book--padding-top {
  padding-top: 40px;
}
.b-sect-book-h2--center > h2 {
  text-align: center;
}
.b-section-book__column {
  display: inline-block;
  vertical-align: top;
}
.b-section-book__column--left {
  width: 27%;
  display: inline-block;
  vertical-align: top;
}
.b-book-navigation__item {
  text-transform: uppercase;
  padding: 0 0 0 40px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: .9em;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 85%;
}
.b-book-navigation__item:before {
  content: "";
  background: url(../img/li-small.png) 0 50% no-repeat;
  height: 20px;
  width: 25px;
  margin-left: -25px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.b-book-navigation__item:hover {
  text-decoration: underline;
}
.b-book-navigation__item:hover:before {
  background: url(../img/li-small-hover.png) 0 50% no-repeat;
}
.b-book-navigation__item--check {
  text-decoration: underline;
}
.b-book-navigation__item--check:before {
  background: url(../img/li-small-hover.png) 0 50% no-repeat;
}
.b-book-navigation {
  background: url(../img/book-left-bg.png) 50% 0 no-repeat;
  min-height: 740px;
  padding: 20px;
}
.b-section-book__column--right {
  display: inline-block;
  vertical-align: top;
  margin-left: 9%;
  width: 63%;
  padding-bottom: 20px;
}
.script-block-about {
  display: none;
}
.b-sect-book-r-col-box__item {
  border-top: 3px solid #000000;
  position: relative;
}
.b-sect-book-r-col-box__item:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
}
.b-book-text-3-column {
  margin-top: 20px;
  margin-bottom: 15px;
}
.b-book-text-3-column__column {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}
.b-book-text-3-column__column--width40 {
  width: 40%;
}
.b-book-text-3-column__column > img {
  margin-right: 10px;
  margin-left: -15px;
  display: block;
  width: 100%;
}
.b-book-text-3-column__column--2-col {
  width: 64%;
}
.b-book-text-3-column__column--2-col > p {
  columns: 150px 2;
  -webkit-columns: 150px 2;
  -moz-columns: 150px 2;
  font-size: .87em;
  line-height: 1.2;
}
.b-book-text-3-column__column--2-col > p > span {
  font-size: 1.8em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}
.b-book-text-2-col__in-box-text {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
.b-book-text-box__row--top-line {
  border-top: 1px solid #000000;
}
.b-book-text-2-column {
  padding-top: 10px;
  padding-bottom: 30px;
}
.b-book-text-2-column__head > h3 {
  text-transform: uppercase;
  font-size: 1.87em;
  margin-bottom: 10px;
}
.b-book-text-2-column-col-item {
  display: inline-block;
  vertical-align: top;
  width: 42%;
}
.b-book-text-2-column-col-item--separate {
  border-right: 1px solid #000;
  padding-right: 5%;
  margin-right: 5%;
}
.b-book-text-3-column__column > h3 {
  font-size: 1.53em;
  text-transform: uppercase;
}
.b-book-text-3-column__column--big-h3 > h3 {
  font-size: 1.9em;
  padding-bottom: 10px;
}
.b-book-text-2-col__50-percent {
  display: inline-block;
  width: 47%;
  padding-right: 2%;
  vertical-align: top;
}
/* /Скролл 1 */
/* Скролл 2 */
#section2 {
  overflow: hidden;
}
.b-section-map {
  margin-top: 40px;
}
.b-section-map__head {
  margin-bottom: 20px;
}
.b-sect-book-h2 {
  text-transform: uppercase;
  font-size: 1.83em;
  padding: 30px 0 20px;
}
.b-map-body__left {
  float: left;
  width: 32.577319%;
}
.b-map-body__right {
  float: left;
  width: 67.319587%;
  background: url(../img/paper.png) 0 0 no-repeat;
  margin-bottom: 70px;
}
.b-map {
  width: 540px;
  margin: 40px 50px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.b-map-b-left__text > p {
  font-size: .9em;
  padding: 14px 0 0 0;
  line-height: 1.2;
}
.b-map-text-veryBig {
  font-size: 4.2em;
  float: left;
  line-height: .7;
}
.uppercase {
  text-transform: uppercase;
}
/* /Скролл 2 */
/* Скролл 3 */
.script-block-plan {
  display: none;
}
.b-rotator__head {
  border-bottom: 1px solid #000000;
}
.b-rotator-head__item {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 0;
}
.b-rotator-head-text {
  text-transform: uppercase;
  padding: 6px 0;
}
.b-rotator-head-link {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.b-rotator-head-link:hover {
  text-decoration: underline;
}
.b-rotator-head-link--checked {
  text-decoration: underline;
}
.b-rotator-head-separate {
  width: 10px;
  height: 1px;
  background: #000;
  margin: 0 40px;
}
.b-rotator-head-separate--repair {
  margin: 0 36px;
}
.b-rotator-body__control {
  display: inline-block;
  vertical-align: middle;
  width: 6%;
  height: 60px;
  cursor: pointer;
}
.b-rotator-body__control--big-descript {
  height: 350px;
  vertical-align: top;
}
.b-rotator-body-col__content {
  display: inline-block;
  vertical-align: middle;
  width: 525px;
}
.b-rotator-body-col__content--pad-top-10 {
  padding-top: 10px;
}
.b-rotator-body-col-content-item {
  display: none;
}
.b-rotator-body-col-content-item > p {
  font-size: .9em;
  font-family: 'ChiftText-Regular';
}
.b-rotator-body-col-content-item--show {
  display: block;
}
.b-rotator-body__control--left-str {
  background: url(../img/string-slider-left.png) 50% 50% no-repeat;
}
.b-rotator-body__control--right-str {
  background: url(../img/string-slider-right.png) 50% 50% no-repeat;
}
.b-rep-slide-img__control--left {
  background: url(../img/string-slider-left.png) 50% 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 6%;
  height: 60px;
  cursor: pointer;
}
.b-rep-slide-img__control--right {
  background: url(../img/string-slider-right.png) 50% 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 6%;
  height: 60px;
  cursor: pointer;
}
.b-rotator-body-col-content-item__img {
  background: #fff;
  box-shadow: 3px 3px 5px #5A5959;
  margin: 10px 0 30px ;
}
.b-rotator-content-img {
  width: 92%;
  margin: 20px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.b-rotator-content-img--repair {
  display: none;
}
.b-rotator-content-img--repair-active {
  display: block;
}
.b-rep-slide-img-item {
  display: none;
}
.b-rep-slide-img-item--show {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 3px 3px 5px #5A5959;
}
.b-book-price-slide__row {
  clear: both;
  padding: 20px 0;
}
.b-book-price-slide-top-descr-l {
  display: block;
  float: left;
}
.b-book-price-box-row-col {
  display: inline-block;
  vertical-align: middle;
}
.b-book-price-slide-top-descr-l > p {
  text-transform: uppercase;
  font-size: .9em;
  width: 200px;
}
.b-book-price-slide-top-descr-r {
  display: block;
  float: right;
  width: 130px;
}
.b-book-price-slide-top-descr-r > p {
  font-size: .9em;
}
.b-book-price-box {
  background: url(../img/price_town.png) 91% 50% no-repeat;
  height: 490px;
  margin-top: -65px;
}
.b-book-price-box-row-col--min-bold > p {
  font-size: .9em;
  font-family: 'ChiftText-Bold';
  text-align: center;
}
.b-book-price-box-row-col--price-font {
  font-size: 1.2em;
  font-family: 'ChiftText-Regular';
}
.b-book-price-box__row--row1 {
  padding-top: 180px;
}
.b-book-price-box__row--row2 {
  padding-top: 80px;
}
.b-book-price-box__row--row3 {
  padding-top: 80px;
}
.b-book-price-box__row--row4 {
  padding: 60px 0 0 100px;
}
.b-link-price {
  color: #000;
  text-decoration: none;
}
.b-link-price:hover {
  text-decoration: underline;
}
.b-book-price-box-row--col1 {
  width: 40px;
  margin-right: 90px;
}
.b-book-price-box-row--col2 {
  margin-right: 118px;
}
.b-book-price-box-row--col3 {
  margin-right: 120px;
}
.b-book-price-box-row--col-f-1 {
  width: 130px;
}
.b-book-price-box-row--col-f-2 {
  width: 130px;
  margin-left: 43px;
}
.b-book-price-box-row--col-f-3 {
  width: 190px;
  margin-left: 6px;
}
.b-book-price-box-row-col > p {
  font-family: 'ChiftText-Bold';
  text-transform: uppercase;
  text-align: center;
}
.b-book-price-box__row--row4 > .b-book-price-box-row-col > p > span {
  font-family: 'ChiftText-DemiBold';
  font-size: .8em;
  display: block;
}
.b-repair-text__column > p {
  columns: 200px 2;
  -webkit-columns: 200px 2;
  -moz-columns: 200px 2;
  font-size: .9em;
  font-family: 'ChiftText-Regular';
}
.b-repair-text__column > p > span {
  font-size: 1em;
  display: block;
  padding: 0 0 10px 0;
  text-transform: uppercase;
  font-family: 'ChiftText-DemiBold';
}
.b-repair-text__full-width {
  padding-top: 20px;
}
.b-repair-text__full-width > p {
  font-size: .9em;
  font-family: 'ChiftText-Regular';
}
.b-repair-text__full-width > p > span {
  text-transform: uppercase;
  font-size: 1.1em;
}
/* /Скролл 3 */
/* Скролл 4 */
.b-pay {
  background: url(../img/bg-scrol-credit.jpg) 50% 0 no-repeat;
  margin-top: 40px;
}
.b-p-body-tabs__head {
  border-top: 2px solid #000000;
  border-bottom: 3px solid #000000;
}
.b-p-b-tabs-head {
  border-bottom: 1px solid #000000;
  margin-bottom: 1px;
  text-align: center;
}
.b-p-b-tabs-head__item {
  display: inline-block;
  cursor: pointer;
  padding: 7px 6%;
  text-transform: uppercase;
}
.b-p-b-tabs-head__item:hover {
  text-decoration: underline;
}
.b-p-b-tabs-head__item--checked {
  text-decoration: underline;
}
.b-p-body-tabs__info {
  margin: 30px 0;
}
.b-pay-tabs-info__item {
  display: none;
}
.b-pay-tabs-info__item--show {
  display: block;
}
.b-pay-tabs-one-info-item__column {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin-left: 2%;
}
.b-pay-tabs-one-info-item__column--min-width {
  width: 13.5%;
}
.b-pay-tabs-one-info-item__column--min-width-2 {
  width: 15%;
}
.b-pay-tabs-one-info-item__column--width-35 {
  width: 35%;
}
.b-pay-tabs-one-info-item__column > p {
  font-size: .85em;
  line-height: 1.2;
}
span.tel-r {
  display: block;
  text-align: right;
  float: right;
}
.b-pay-tabs-one-info-item__column--par-n-pad > p > span.paragraph {
  padding-top: 0;
}
.b-close-line {
  height: 3px;
  width: 100%;
  background: #000;
  margin-top: 20px;
}
.bold {
  font-family: 'ChiftText-Bold';
}
.b-p-body-spoil {
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  position: relative;
  margin-top: 20px;
}
.b-p-body-spoil:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  top: 1px;
  left: 0;
}
.b-p-body-spoil:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 2px;
  left: 0;
}
.b-pay-one-spoil__head-text {
  text-align: center;
  text-transform: uppercase;
}
.b-pay-one-spoil__head-text > p {
  padding: 30px 0;
}
.b-pay-one-spoil__text-spoil {
  max-height: 0;
  overflow: hidden;
  transition-duration: .3s;
}
.b-pay-one-spoil__text-spoil--text-center {
  text-align: center;
}
.b-pay-one-spoil-text-col {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
.b-pay-one-spoil-text-col > p {
  font-size: .9em;
  font-family: 'ChiftText-Regular';
}
.b-pay-one-spoil-text-after {
  text-align: left;
  margin-top: 20px;
  margin-left: 194px;
}
.b-pay-one-spoil-text-after > p {
  font-family: 'ChiftText-Bold';
  font-size: .8em;
  line-height: .9;
  width: 30%;
}
.b-pay-one-spoil__text-spoil--3-col > p {
  columns: 200px 3;
  -webkit-columns: 200px 3;
  -moz-columns: 200px 3;
  font-size: .9em;
}
.b-pay-one-spoil-text-spoil-column {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
.b-pay-one-spoil-text-spoil-column--w-80 {
  width: 80%;
  margin: 0 auto;
  display: block;
}
.b-pay-one-spoil-text-spoil-column > p {
  font-size: .9em;
  padding: 5px 0;
  font-family: 'ChiftText-Regular';
}
.b-pay-one-spoil__text-control {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR4XmNgAAAAAgAB3p6PvwAAAABJRU5ErkJggg==") 0 50% repeat-x;
  margin: 10px 0 40px;
}
.show-spoil {
  background: #fff;
  padding: 0 10px;
  cursor: pointer;
  max-width: 78px;
  display: block;
  margin: 0 auto;
}
.close-spoil {
  background: #fff;
  padding: 0 10px;
  cursor: pointer;
  display: none;
  max-width: 50px;
  margin: 0 auto;
}
.b-pay-credit {
  margin-top: 20px;
}
.b-pay-credit__row--head {
  margin: 0 6%;
}
.b-pay-credit-introduction-text {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
.b-pay-credit-introduction-text > p {
  text-transform: uppercase;
  font-size: .86em;
  line-height: 1.2;
  width: 85%;
}
.b-pay-credit-control-button {
  display: inline-block;
  vertical-align: bottom;
  width: 49%;
}
.b-pay-credit-control-button__item {
  display: block;
  float: left;
  vertical-align: middle;
  text-align: center;
  width: 198px;
  cursor: pointer;
  background: #F5F5F5;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  margin: 0 5px;
  position: relative;
}
.b-pay-credit-control-button__item:after {
  content: "";
  position: absolute;
  height: 20px;
  background: #F5F5F5;
  bottom: -35px;
  width: 198px;
  left: 0;
  z-index: 9;
}
.b-pay-credit-control-button__item--not-active {
  background: url(../img/pay-label-tabs-not-active.png) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #727272;
}
.b-pay-credit-control-button__item--not-active:after {
  display: none;
}
.b-pay-credit-control-button__item > p {
  display: table-cell;
  vertical-align: middle;
  width: 198px;
  height: 40px;
  padding: 0 20px;
  text-align: left;
  text-transform: uppercase;
  font-size: .85em;
}
.b-pay-cr-cntr-one-button {
  background: url(../img/pay-label-tabs.png) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: table-cell;
}
.b-pay-cr-cntr-one-button > span {
  vertical-align: middle;
}
.b-pay-cred-box {
  position: relative;
  background-color: #f5f5f5;
  margin-bottom: 80px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}
.b-pay-cred-box:after {
  content: "";
  width: 100%;
  height: 95px;
  display: block;
  position: absolute;
  background: url(../img/pay-footer-bg.png) 50% 100% no-repeat;
  bottom: -50px;
  left: 0;
}
.b-pay-cred-box-content__item {
  overflow: hidden;
  text-align: center;
  display: none;
}
.b-pay-cred-box-content-column {
  width: 25%;
  padding: 0 3%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.b-pay-cred-box-content-column--width-50 {
  width: 40%;
  padding: 0 3%;
}
.b-pay-cred-box-content-column--width-50 > p {
  font-family: 'ChiftText-Regular';
  text-transform: uppercase;
  padding: 15px 0;
}
.b-pay-cred-box-content-after {
  margin-left: 30px;
}
.b-pay-cred-box-content-after > p {
  font-family: 'ChiftText-Regular';
  font-size: .9em;
}
.b-pay-cred-box-content-line-top {
  width: 90%;
  height: 1px;
  background: #000;
  margin: 25px auto 10px;
}
.paragraph {
  padding: 15px 0;
  display: block;
}
.paragraph--pad_top_0 {
  padding-top: 0;
}
.paragraph--pad_but {
  padding-bottom: 6px;
}
.big-letters {
  font-size: 3.75em;
  display: block;
  float: left;
  line-height: .5;
  padding-top: 10px;
  padding-right: 2px;
}
.big-letters--pad-top-5 {
  padding-top: 5px;
}
.big-letters--pad-but-8 {
  padding-bottom: 8px;
}
.big-letters--pad-r-4 {
  padding-right: 4px;
}
.nornmal-text {
  padding-top: 13px;
  display: block;
  font-size: .9em;
  line-height: 1.3em;
}
.nornmal-text--regular {
  font-family: 'ChiftText-Regular';
}
.nornmal-text--fsz-1 {
  font-size: 1em;
}
.b-book-text-2-column__img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.b-book-text-box-h3-full-width {
  text-transform: uppercase;
  padding: 10px 0;
}
.b-horizontal-spoil {
  margin: 5px 0;
}
.b-hor-spoil-control {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR4XmNgAAAAAgAB3p6PvwAAAABJRU5ErkJggg==") 0 50% repeat-x;
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
}
.b-hor-spoil-control__name {
  background: #f5f5f5;
  padding: 0 4px;
  float: left;
  margin: 0 5px;
  font-family: 'ChiftText-Bold';
  text-transform: uppercase;
  font-size: .85em;
  cursor: pointer;
}
.b-hor-spoil-control__name:hover {
  text-decoration: underline;
}
.b-hor-spoil-control__but {
  background: #f5f5f5;
  padding: 0 4px;
  float: right;
  font-family: 'ChiftText-Bold';
  margin-right: 30px;
  font-size: .85em;
  cursor: pointer;
}
.b-hor-spoil-control__but-close {
  display: none;
}
.b-hor-spoil-control-link {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR4XmNgAAAAAgAB3p6PvwAAAABJRU5ErkJggg==") 0 50% repeat-x;
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
  display: block;
  color: #000;
}
.b-hor-spoil-control__name--link {
  background: #f5f5f5;
  padding: 0 4px;
  float: left;
  margin: 0 5px;
  font-family: 'ChiftText-Bold';
  text-transform: uppercase;
  font-size: .85em;
  cursor: pointer;
  color: #000;
}
.b-hor-spoil-control__name--link:hover {
  text-decoration: underline;
}
.b-hor-spoil-control__but--link {
  background: #F7F7F7;
  padding: 0 4px;
  float: right;
  font-family: 'ChiftText-Bold';
  margin-right: 30px;
  font-size: .85em;
  cursor: pointer;
}
.b-hor-spoil-text {
  overflow: hidden;
  transition-duration: .3s;
  max-height: 0;
}
.b-hor-spoil-text__p {
  padding-bottom: 20px;
  border-bottom: 3px solid #000000;
  margin-bottom: 20px;
  position: relative;
}
.b-hor-spoil-text__p:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #000;
}
.b-hor-spoil-text__p > p {
  font-family: 'ChiftText-Regular';
  column: 200px 2;
  -webkit-columns: 200px 2;
  -moz-columns: 200px 2;
  font-size: .9em;
}
.b-horizontal-spoil-open .b-hor-spoil-control__name {
  text-decoration: underline;
}
.b-horizontal-spoil-open .b-hor-spoil-control__but-open {
  display: none;
}
.b-horizontal-spoil-open .b-hor-spoil-control__but-close {
  display: block;
}
.b-accred .nornmal-text {
  font-size: .85em;
  line-height: 1.2;
}
.b-accred__col {
  width: 37%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
}
.b-accred__col--big {
  width: 60%;
  margin-right: 0;
}
.b-accred__col--big > img {
  width: 100%;
}
.b-accred-row__min-col {
  display: inline-block;
  width: 33%;
  vertical-align: middle;
  margin-right: 5%;
}
.b-accred-row__min-col--big {
  width: 60%;
  margin-right: 0;
}
.b-accred-row__min-col > span {
  text-transform: uppercase;
  font-size: .87em;
  line-height: 1.3;
}
/* /Скролл 4 */
/* Скролл 5 */
.b-news-body__head {
  border-top: 1px solid #000000;
}
.b-new-subscribe {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
}
.b-new-subscribe__link {
  cursor: pointer;
}
.b-new-subscribe__link > a {
  display: block;
  background: url(../img/subscribe.jpg) 50% 0 no-repeat;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  font-family: 'ChiftText-Bold';
  text-align: center;
  padding: 22px 0;
}
.b-new-subscribe__descript > p {
  text-transform: uppercase;
  text-align: center;
  font-size: .7em;
}
.b-news-head {
  padding: 20px 0;
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  margin-left: 4%;
}
.b-news-head__string {
  display: inline-block;
  width: 5%;
  vertical-align: middle;
  height: 60px;
  cursor: pointer;
}
.b-news-head__string--left {
  background: url(../img/string-slider-left.png) 10% 50% no-repeat;
}
.b-news-head__string--right {
  background: url(../img/string-slider-right.png) 10% 50% no-repeat;
}
.b-news-head__controls {
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 88%;
}
.b-news-control-item {
  cursor: pointer;
}
.b-news-control-item--checked .b-news-control-item__h2 > h2 {
  font-size: 1.7em;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: 'ChiftText-Bold';
}
.b-news-control-item--checked .b-news-control-item__h2 > h2:after {
  content: "";
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: -50px;
  left: 0;
  display: block;
  background: #fff;
  z-index: 1;
}
.b-news-control-item--checked .b-news-control-item__after {
  display: none;
}
.b-news-head-control__item {
  display: inline-block;
  vertical-align: middle;
  width: 32.1%;
  position: relative;
}
.b-news-head-control__separate {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 1px;
  background: #000;
}
.b-news-control-item__after {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR4XmNgAAAAAgAB3p6PvwAAAABJRU5ErkJggg==") 0 50% repeat-x;
  text-align: center;
  margin-top: 10px;
}
.b-news-control-item__after > span {
  background: #fff;
  padding: 0 5px;
}
.b-news-body__text {
  padding-top: 30px;
  border-top: 3px solid #000000;
  position: relative;
  padding-bottom: 50px;
}
.b-news-body__text:before {
  content: "";
  height: 1px;
  width: 100%;
  background: #000;
  position: absolute;
  top: -5px;
}
.b-news-text__item {
  display: none;
}
.b-news-text__item > p {
  columns: 200px 3;
  -webkit-columns: 200px 3;
  -moz-columns: 200px 3;
  font-size: 0.88em;
  line-height: 1.2;
}
.b-news-text__item > p > span.h3 {
  text-transform: uppercase;
  font-family: 'ChiftText-Bold';
  font-size: 1.1em;
  display: block;
}
.b-news-text__item--show {
  display: block;
}
/* /Скролл 5 */
/* Скролл 5 */
.script-block-contact {
  display: none;
}
.b-sales-department {
  border-top: 3px solid #000000;
  position: relative;
  padding-top: 15px;
}
.b-sales-department:after {
  content: "";
  top: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
}
.b-sale-dep-contact-info {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000000;
}
.b-sale-dep-contact-info__item {
  display: inline-block;
  width: 24%;
  vertical-align: top;
}
.b-sale-dep-contact-info__item > img {
  min-height: 53px;
}
.b-sale-dep-contact-info__item > p {
  font-size: .9em;
  line-height: 1.2;
}
.b-sales-contact-form-head > h3 {
  text-transform: uppercase;
  font-size: 1.83em;
  padding: 20px 0 20px;
}
.b-sales-cont-frm-ch-man__descript {
  display: inline-block;
  vertical-align: middle;
}
.b-sales-cont-frm-ch-man__descript > p {
  text-transform: uppercase;
  font-size: .87em;
  line-height: 1.2;
}
.b-sales-cont-frm-ch-man__manager-slide {
  display: inline-block;
  vertical-align: middle;
}
.b-sales-manager-slide__left-arrow {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 50px;
  background: url(../img/string-slider-left-small.png) 50% 50% no-repeat;
  margin-right: 10px;
  cursor: pointer;
}
.b-sales-manager-slide-right-arrow {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 50px;
  background: url(../img/string-slider-right-small.png) 50% 50% no-repeat;
  margin-left: 10px;
  cursor: pointer;
}
.b-sales-manager-slide__change-info {
  display: inline-block;
  vertical-align: middle;
}
.b-sales-manager-slide-manager-photo {
  display: inline-block;
  vertical-align: middle;
}
.b-sales-manager-slide-manager-photo > img {
  border: 1px solid #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.b-sales-manager-slide-manager-name {
  display: inline-block;
  vertical-align: middle;
  max-width: 125px;
}
.b-sales-manager-name-name > p {
  text-transform: uppercase;
  font-size: .87em;
}
.b-sales-manager-name-post > p {
  font-size: .87em;
}
.b-sales-form {
  background: url(../img/form-bg.png) 50% 50% no-repeat;
  min-height: 310px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.b-sales-form__left-column {
  display: inline-block;
  vertical-align: top;
  width: 39%;
  padding: 3% 0 3% 5%;
}
.b-sales-form__right-column {
  display: inline-block;
  vertical-align: top;
  width: 39%;
  padding: 3% 5% 3% 0;
}
.b-sales-form__submit {
  width: 100%;
  background: url(../img/button.png) 50% 5% no-repeat;
  text-align: center;
  padding: 20px 0 20px 0;
  display: block;
  margin: 0px auto 0;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.b-sales-form-submit-button {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
.b-sales-form-label {
  font-size: .9em;
  line-height: 1.3;
  display: block;
  padding-top: 10px;
}
.b-sales-form-label--n-pad-top {
  padding-top: 0;
}
.b-sales-form-label--mb {
  margin-bottom: 4px;
}
.b-sales-form-input {
  border: 2px solid #000000;
  padding: 3px;
  margin: 3px 0;
  width: 210px;
}
.b-sales-form-input-disabled {
  background: #fff;
  border: 0;
  position: relative;
  margin-left: 4px;
  margin-top: 4px;
  width: 298px;
  z-index: 2;
  top: 2px;
}
textarea.b-sales-form-input {
  resize: none;
  padding-top: 20px;
  margin-top: -20px;
  height: 145px;
  width: 295px;
  position: relative;
}
.b-map-box {
  margin-top: 10px;
  border: 1px solid #000;
  width: 100%;
  height: 590px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* /Скролл 5 */
/* Footer */
footer {
  max-width: 970px;
  min-width: 970px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  border-top: 3px solid #000;
  position: relative;
  padding-top: 10px;
}
footer:before {
  content: "";
  height: 1px;
  width: 100%;
  background: #000;
  position: absolute;
  display: block;
  top: -5px;
  left: 0;
}
.b-footer-left {
  float: left;
  padding-left: 25px;
}
.b-footer-left__row--uppercase > p {
  text-transform: uppercase;
  font-size: 1.06em;
}
.b-footer-left__row--small-descript > p {
  font-size: .71em;
}
.b-footer-right {
  float: right;
  padding-right: 25px;
}
.b-footer-right > p {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}
.b-footer-right > img {
  display: inline-block;
  vertical-align: middle;
}
/* /Footer */
/*Модальное окно*/
.b-modalWindow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  display: none;
}
.b-modalBg {
  background: #000;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  overflow: hidden;
  position: absolute;
}
.b-modalContent {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  min-width: 960px;
}
.b-modalContent__body {
  clear: both;
}
.b-modalContent__box {
  background: #fff;
  border: 3px solid #000;
  height: 100%;
  padding-bottom: 10px;
}
.b-modalContent-head-close,
.b-modalContent-head-print {
  display: block;
  text-align: center;
  text-transform: uppercase;
  background: url(../img/subscribe.jpg) 50% 0 no-repeat;
  padding: 22px 0;
  width: 200px;
  cursor: pointer;
}
.b-modalContent-head-print {
  float: left;
  margin: 20px 0 0 20px;
  text-decoration: none;
  color: #000;
}
.b-modalContent-head-close {
  float: right;
  margin: 20px 20px 0 0;
}
.b-modalContent-body-contol-left {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  background: #000;
  height: 60px;
  background: url(../img/string-slider-left.png) 50% 50% no-repeat;
  cursor: pointer;
}
.b-modalContent-body-contol-right {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  background: #000;
  height: 60px;
  background: url(../img/string-slider-right.png) 50% 50% no-repeat;
  cursor: pointer;
}
.b-modalContent-body-img-rem,
.b-modalContent-body-img {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
}
.b-big-modal-img {
  width: 100%;
}
.b-modalContent-body-img-rem > .b-big-modal-img {
  box-shadow: 2px 2px 20px #000;
  margin-top: 15px;
}
.b-subscribe {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 4;
}
.b-subscribe-bg {
  top: 0;
  left: 0;
  background: #000;
  opacity: .7;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.b-subscribe-box {
  height: 100%;
  position: relative;
  z-index: 9;
  width: 400px;
  margin: 0 auto;
  display: table;
}
.b-subscribe-box__block {
  width: 400px;
  height: 100%;
  margin: 0 auto;
  display: table;
}
.b-subscribe-box-form {
  display: table-cell;
  vertical-align: middle;
}
.b-subscribe-box-form__item {
  border: 1px solid #000000;
  background: #fff;
  padding: 50px 0 20px;
}
.b-subscribe-box-form-label {
  font-size: .9em;
  display: block;
  text-align: center;
}
.b-subscribe-input {
  margin: 15px auto;
  display: block;
}
/* Прочее */
.show-modal {
  cursor: pointer;
}
.show-modal-rem {
  cursor: pointer;
}
.b-complite-message {
  padding: 130px;
  font-size: 1.23em;
}
@media print {
  .b-wrapper {
    display: none;
  }
  .scrollToTop {
    display: none;
  }
  .b-modalContent__head {
    display: none;
  }
  .b-modalContent-body-contol-right {
    display: none;
  }
  .b-modalContent-body-contol-left {
    display: none;
  }
  .b-modalContent {
    max-width: 1000000px;
  }
  .b-modalContent__box {
    border: 0;
  }
}
