.b-head-row__column {
  float: left;
}
.b-h-tel-row__left {
  float: left;
}
.b-h-tel-row__separate {
  float: left;
}
.b-h-tel-row__rigth {
  float: left;
}
.b-head-nav__item {
  float: left;
}
.b-sc1-box-nav__li {
  float: left;
}
.b-section-book__column {
  float: left;
}
.b-section-book__column--left {
  float: left;
}
.b-book-navigation__item {
  float: left;
}
.b-section-book__column--right {
  float: left;
}
.b-book-text-3-column__column {
  float: left;
}
.b-book-text-2-col__in-box-text {
  float: left;
}
.b-book-text-2-column-col-item {
  float: left;
}
.b-book-text-2-col__50-percent {
  float: left;
}
.b-rotator-head__item {
  float: left;
}
.b-rotator-body__control {
  float: left;
}
.b-rotator-body-col__content {
  float: left;
}
.b-book-price-box-row-col {
  float: left;
}
.b-p-b-tabs-head__item {
  float: left;
}
.b-pay-tabs-one-info-item__column {
  float: left;
}
.b-pay-one-spoil-text-col {
  float: left;
}
.b-pay-one-spoil-text-spoil-column {
  float: left;
}
.b-pay-credit-introduction-text {
  float: left;
}
.b-pay-credit-control-button {
  float: left;
}
.b-pay-cred-box-content-column {
  float: left;
}
.b-accred__col {
  float: left;
}
.b-accred-row__min-col {
  float: left;
}
.b-new-subscribe {
  float: left;
}
.b-news-head {
  float: left;
}
.b-news-head__string {
  float: left;
}
.b-news-head__controls {
  float: left;
}
.b-news-head-control__item {
  float: left;
}
.b-news-head-control__separate {
  float: left;
}
.b-sale-dep-contact-info__item {
  float: left;
}
.b-sales-cont-frm-ch-man__descript {
  float: left;
}
.b-sales-cont-frm-ch-man__manager-slide {
  float: left;
}
.b-sales-manager-slide__left-arrow {
  float: left;
}
.b-sales-manager-slide-right-arrow {
  float: left;
}
.b-sales-manager-slide__change-info {
  float: left;
}
.b-sales-manager-slide-manager-photo {
  float: left;
}
.b-sales-manager-slide-manager-name {
  float: left;
}
.b-sales-form__left-column {
  float: left;
}
.b-sales-form__right-column {
  float: left;
}
.b-footer-right > p {
  float: left;
}
.b-footer-right > img {
  float: left;
}
.b-modalContent-body-contol-left {
  float: left;
}
.b-modalContent-body-contol-right {
  float: left;
}
.b-modalContent-body-img-rem,
.b-modalContent-body-img {
  float: left;
}
.b-news-body__head {
  overflow: hidden;
}
.b-h-tel-rw-link {
  clear: both;
}
.b-head-nav {
  overflow: hidden;
}
.b-head-nav__item {
  margin: 0 1%;
}
.b-pay-one-spoil__head-text > p {
  clear: both;
}
.b-header__row {
  clear: both;
}
#section1,
#section2,
#section3,
#section4,
#section5,
#section6 {
  clear: both;
}
.b-pay-cred-box-content-after {
  clear: both;
}
footer {
  clear: both;
}
