/* Шрифты */
@font-face {
  font-family: 'ChiftText-Regular';
  src: url('../font/ChiftText_gdi.eot');
  src: url('../font/ChiftText_gdi.eot?#iefix') format('embedded-opentype'), url('../font/ChiftText_gdi.woff') format('woff'), url('../font/ChiftText_gdi.ttf') format('truetype'), url('../font/ChiftText_gdi.otf') format('opentype'), url('../font/ChiftText_gdi.svg#ChiftText-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB06;
}
@font-face {
  font-family: 'ChiftText-Bold';
  src: url('../font/ChiftText-Bold.eot');
  src: url('../font/ChiftText-Bold.eot?#iefix') format('embedded-opentype'), url('../font/ChiftText-Bold.woff') format('woff'), url('../font/ChiftText-Bold.ttf') format('truetype'), url('../font/ChiftText-Bold.otf') format('opentype'), url('../font/ChiftText-Bold.svg#ChiftText-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB06;
}
@font-face {
  font-family: 'ChiftText-DemiBold';
  src: url('../font/ChiftText-DemiBold_gdi.eot');
  src: url('../font/ChiftText-DemiBold_gdi.eot?#iefix') format('embedded-opentype'), url('../font/ChiftText-DemiBold_gdi.woff') format('woff'), url('../font/ChiftText-DemiBold_gdi.ttf') format('truetype'), url('../font/ChiftText-DemiBold_gdi.otf') format('opentype'), url('../font/ChiftText-DemiBold_gdi.svg#ChiftText-DemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB06;
}
.font_regular {
  font-family: 'ChiftText-Regular';
}
.font_demi-bold {
  font-family: 'ChiftText-DemiBold';
}
.font_bold {
  font-family: 'ChiftText-Bold';
}
body {
  font-family: 'ChiftText-DemiBold';
}
